<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd http://www.nlog-project.org/schemas/NLog.xsd">

	<!-- Targets define where the log data goes -->
	<targets>
		<!-- Log to console -->
		<target name="logconsole" type="Console" layout="${longdate} | ${level} | ${message}" />

		<!-- Log to database (exemplo) -->
		<!-- <target name="logdatabase" type="Database" connectionString="your_connection_string" commandText="INSERT INTO Log (Date, Level, Message) VALUES (@date, @level, @message)" /> -->
	</targets>

	<!-- Rules define which loggers should write to which targets -->
	<rules>
		<!-- Log everything to the console -->
		<logger name="*" minlevel="Error" writeTo="logconsole" />

		<!-- Allow logs from the 'MyApp' namespace to be written at the Info level and above -->
		<logger name="FrenetOrder.*" minlevel="Info" writeTo="logconsole" />
	</rules>

</nlog>
